<%-include("partials/header")-%>

  <h2>The Current Date Is:</h2>
  <h2><u><%= dateResult %></u></h2>
  <br>
  <h2>The Value of <%= cryptoResult %> Is:</h2>
  <h2><u><%= valueResult %></u></h2>

<%-include("partials/footer")-%>
